<div class="container p-4">
  <%= form_with url: show_by_day_tasks_path, method: :get, local: true do |form| %>
    <div class="field">
      <%= form.label :day, "Select day:" %>
      <%= form.date_field :day, value: params[:day] || Date.today, required: true %>
    </div>

    <div class="actions py-4">
      <%= form.submit "Show Tasks", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>